.skill-form {
    display: flex;
    justify-content: space-between;
}

.skill-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skill-column {
    flex: 1;
    margin: 0 10px;
}

    .skill-column label {
        display: block;
        margin-bottom: 1px;
    }

.bonus-row {
    display: flex; /* K‰ytet‰‰n flexboxia bonus valinnoille */
    align-items: center; /* Keskitet‰‰n pystysuunnassa */
    margin-bottom: 10px; /* Lis‰t‰‰n v‰li‰ riveille */
}