.skill-form {
    display: flex;
    justify-content: space-between;
}

.skill-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skill-column {
    flex: 1;
    margin: 0 10px;
}

    .skill-column label {
        display: block;
        margin-bottom: 1px;
    }
